.dashboard-description {
  color: #430099;
  font-size: 2.5rem;
  margin-top: 3rem;
  font-weight: 500;
}

.widget {
  margin-top: 3.5rem;
}

.widget-link{
  text-decoration: none;
}

.card-title {
  padding: 1rem 1rem 0 1rem;
  font-size: 3rem;
  color: #ffffff;
}

.card-icon {
  font-size: 2.2rem;
  color: #ffffff;
  padding: 1rem;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.card-subtitle {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #FEFEFA;
  padding: 1rem;
  font-weight: 700;
}

.card-text {
  font-size: 1rem;
  color: #2c0066;
  font-weight: 500;
  line-height: 1.2;
}

.card-1 {
  background-color: #6aa74e;
}

.card-2 {
  background-color: #535cdb;
}

.card-3 {
  background-color: #bd632f;
}

.card-4 {
  background-color: #ff9500;
}

.card-5 {
  background-color: #338a92;
}

.card-6 {
  background-color: #9370db;
}

.card {
  border: none;
  color: #fff;
  height: 100%;
  box-shadow: 0.5px 0 8px #ced4da;
}
