/* ***************************** */
/* DASHBOARD SECTION */
/* ***************************** */
.nav {
  background-color: #ffc95e;
  border-radius: 7px;
}

.navbar *:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(66, 0, 153, 0.788);
}

.select-filter {
  background-color: #ae98ff;
}

.search-form{
  color: #2c0066;
}

.form-select{
  color: #2c0066;
}

.select-item {
  font-family: inherit;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  color: #2c0066;
  border: none;
  background: none;
  width: 100%;
  text-align: start;
}

.selected{
  font-weight: 400;
}

.add-icon {
  height: 1rem;
  width: 1rem;
  font-weight: 700;
}
